* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg {
    z-index: -9999;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#layer {
    color: #334552;
    opacity: 0.73;
}

body {
    font-family: "Hind Madurai", sans-serif;
    text-align: center;
}
h1,
h2,
h3,
p,
a {
    color: #f4f5ef;
}
input {
    border: 2px solid #f4f5ef;
    font-size: 1em;
    border-radius: 0.25em;
    color: #f4f5ef;
    background: transparent;
}
textarea {
    border: 2px solid #f4f5ef;
    font-size: 1em;
    border-radius: 0.25em;
    color: #f4f5ef;
    background-color: #334552;
}

button {
    margin: 0;
    padding: 0.2rem;
    background-color: #bb2d4a;
    border: 2px solid #f4f5ef;
    border-radius: 0.25rem;
    color: #f4f5ef;
}

#welcometo {
    margin-top: 9rem;
}

#registration {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#registration-form {
    margin-top: 5rem;
}

#loginBar {
    display: block;
    height: 120px;
    /* border-bottom: 2px solid #edc959; */
    background-color: #334552;
    overflow: hidden;
}
#loginLogo {
    float: left;
    height: 150px;
    margin-left: 200px;
}
#loginform {
    float: right;
    padding: 20px;
    margin-right: 150px;
}
#loginform1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#newhere {
    float: right;
}
#uploadform {
    top: 20rem;
    right: 60rem;
    border: 3px solid #ad8d0f;
    width: 20rem;
    background-color: #edc959;
    border-radius: 1rem;
    position: fixed;
}
#appbar {
    display: block;
    height: 120px;
    border-bottom: 2px solid #edc959;
    background-color: #334552;
}
#logoinapp {
    position: relative;
    display: inline-block;
    height: 150px;
    float: left;
    left: 200px;
}
#appbar-options {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
}
#appbar-options img {
    height: 3rem;
}
#greeting {
    margin-top: 4rem;
    margin-right: 1rem;
}
#landing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profilepic {
    margin-top: 2rem;
    display: inline-block;
    height: 8rem;
    width: 8rem;
    border-radius: 30rem;
}
#profile-wrap {
    margin-top: 2.5rem;
    width: 15rem;
    height: 30rem;
    background-color: #bb2d4a;
    dispay: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
#profilepic2 {
    height: 200px;
}
#bio {
    position: relative;
    top: 10px;
}
#otherprofile1 {
    margin-left: 30%;
}

#otherprofile2 {
    margin-top: 1.5rem;
    position: ;
    left: -30px;
    background-color: #6aa281;
    width: 40rem;
    height: 20rem;
    padding: 0;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
#otherprofile2 img {
    height: 20rem;
    width: 21rem;
    float: left;
    position: static;
    border-radius: 50%;
}

#friends-wrap {
    top: 5rem;
    right: 10rem;
    border: 3px solid #ad8d0f;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: #edc959;
    border-radius: 1rem;
    position: fixed;
}
#friendslabel {
    width: 10rem;
}
#friends-wrap img {
}
.friend {
    margin: 0.5rem;
    height: auto;
    background-color: #ad8d0f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    align-items: center;
    overflow: inherit;
}
.friend img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.friend button {
    height: 1.5rem;
}
.acceptbutton {
    background-color: #edc959;
    color: #bb2d4a;
    border: 2px solid #bb2d4a;
}
#chatroomlabel {
    margin-top: 7rem;
    background-color: white;
    height: 20rem;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin-left: 3rem;
    color: #590101;
}
#chat-container {
    display: flex;
    flex-direction: row;
}
#chatroomMessagesList {
    margin-top: 2.5rem;
    background-color: #6aa281;
    height: 30rem;
    width: 40rem;
    overflow-y: scroll;
    padding: 0;
    border-radius: 4rem;
}
#chatroommessage {
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #89ff8d;
    border-radius: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
}
#imginchat {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50rem;
}

#editprofile {
    margin-top: 2.5rem;
    width: auto;
    height: 100vh;
    background-color: #bb2d4a;
    border-radius: 0.5rem;
}

#editprofile img {
    margin-top: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#onlinebutton {
    height: 30px;
}

#onlineuserslist {
    margin-top: 2.5rem;
    margin-left: 2rem;
    width: 350px;
}
.online {
    margin: 15px;
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    background-color: #334552;
    border-radius: 30px;
}

#imgonline {
    margin-left: 30px;
    margin-right: 15px;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000*/
.wholecaroussel {
    height: 100vh;
}
#caroussel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.kitty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
}
.kitty.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}
.kitty.exiting {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}
.kitty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.wrap {
    position: relative;
    bottom: 20px;
    text-align: center;
    width: 100%;
    bottom: 60px;
}
.dots {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.lit {
    background-color: white;
}
