* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

#bg {
    z-index: -200;
    box-sizing: border-box;
}
#bg img {
    position: absolute;
    top: 0;
    margin-left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    border: 5px solid black;
}

#layer {
    color: #334552;
    opacity: 0.73;
}

body {
    font-family: "Saira", sans-serif;

    text-align: center;
    background-color: black;
}
h1,
h2,
h3,
p,
a {
    color: #f4f5ef;
}
input {
    border: 2px solid #f4f5ef;
    font-size: 1em;
    border-radius: 0.25em;
    color: #f4f5ef;
    background: transparent;
}

input:hover {
    background: #bb2d4a;
    border: 2px solid #edc959;
}
textarea {
    border: 2px solid #f4f5ef;
    font-size: 1em;
    border-radius: 0.25em;
    color: #f4f5ef;
    background-color: #334552;
}

button {
    margin: 0;
    padding: 0.2rem;
    background-color: transparent;
    border: 2px solid DeepPink;
    border-radius: 0.25rem;
    color: DeepPink;
}

#welcometo {
    margin-top: 9rem;
}

#registration {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#registration-form {
    margin-top: 5rem;
}
#welcome-bar {
    display: block;
    height: 120px;
}

#welcome-options {
    float: right;
    border: 2px solid DeepPink;
}

#welcome-options h1 {
    margin: 30px;
}

#welcome-options h1:hover {
    color: DeepPink;
}

#welcome-content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#intro {
    width: 500px;
}

#loginform {
    float: right;
    padding: 20px;
    margin-right: 150px;
    border: 3px solid DeepPink;
}

#uploadform {
    top: 20rem;
    right: 60rem;
    border: 3px solid #ad8d0f;
    width: 20rem;
    background-color: #edc959;
    border-radius: 1rem;
    position: fixed;
}

#mapcontainer {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

#report-form img {
    height: 30px;
    width: 30px;
}

#report-form-wrap {
    overflow: hidden;
    position: relative;
    height: 400px;
}

#report-form {
    border: 20px solid DeepPink;

    position: absolute;

    right: -250px;
    top: ;
}

#app h2 {
    color: DeepPink;
}

#appbar {
    margin: 0;
    padding: 0;
    width: 45%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    display: grid;
    overflow: inherit;
    border-bottom-right-radius: 100%;
}

#reportbutton {
    position: absolute;
    margin-top: 10%;
    right: 20px;
    margin-top: 10%;
}

#logoutbutton {
    position: absolute;
    right: 20px;
    margin-top: 13%;
}

#logoapp {
    float: right;
    max-width: 150px;
    margin-right: 2%;
}

#appbar-options {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
}
#appbar-options img {
    height: 3rem;
}
#greeting {
    float: right;

    color: DeepPink;
}
#landing {
    display: flex;
    flex-direction: row;
}
#profilepic {
    margin-top: 2rem;
    display: inline-block;
    height: 8rem;
    width: 8rem;
    border-radius: 30rem;
}
#profile-wrap {
    margin-top: 2.5rem;
    width: 15rem;
    height: 30rem;
    background-color: #bb2d4a;
    dispay: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
#profilepic2 {
    height: 200px;
}

#report-list {
    height: auto;
    width: auto;
    padding: 0;
}
#report {
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: black;
    border-radius: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
}

#editprofile {
    margin-top: 2.5rem;
    width: auto;
    height: 100vh;
    background-color: #bb2d4a;
    border-radius: 0.5rem;
}

#editprofile img {
    margin-top: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
