* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
}
input {
    background: white;
}

button {
}

#registration {
    text-align: center;
}

#loginBar {
    display: block;
    height: 120px;
    background-image: linear-gradient(
        to bottom,
        #a5f6ec,
        #baf7f0,
        #cef9f3,
        #e1faf7,
        #f3fbfa
    );
}
#loginLogo {
    float: left;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin-left: 200px;
}
#loginform {
    float: right;
    padding: 20px;
    margin-right: 150px;
}
#loginform1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#newhere {
    float: right;
}
#uploadform {
    border: 1px solid black;
    top: 13%;
    left: 78%;
    background-image: linear-gradient(
        to bottom,
        #a5f6ec,
        #baf7f0,
        #cef9f3,
        #e1faf7,
        #f3fbfa
    );
    position: fixed;
    height: 1000px;
    width: 400px;
}
#app {
}
#appbar {
    display: block;
    height: 120px;
    border: 1px solid black;
    background-image: linear-gradient(
        to bottom,
        #a5f6ec,
        #baf7f0,
        #cef9f3,
        #e1faf7,
        #f3fbfa
    );
}
#logoinapp {
    position: relative;
    display: inline-block;
    height: 100px;
    float: left;
    left: 250px;
}
#profilepic {
    display: inline-block;
    float: right;
    height: 100px;
    margin-top: 10px;
    margin-right: 150px;
}
#profile-wrap {
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: row;
}
#profilepic2 {
    position: relative;
    left: 250px;
    height: 200px;
}
#bio {
    left: 250px;
    position: relative;
    top: 10px;
}
.wholecaroussel {
    display: block;
}
#caroussel {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.kitty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
}
.kitty.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}
.kitty.exiting {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}
.kitty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.wrap {
    position: relative;
    bottom: 20px;
    text-align: center;
    width: 100%;
    bottom: 60px;
}
.dots {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.lit {
    background-color: white;
}
